<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://setup.gz.cvte.cn/University/University_iOS_Student/Test/1.1.7/1.1.7.4407/seewoPincoStudent_AdHoc_1.1.7_4407.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.seewo.pinco</string>
                <key>bundle-version</key>
                <string>4407</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>test</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>

